* {
  margin: 0;
}

:root {
  --column-count: 12;
}

body {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) repeat(var(--column-count) 1fr) minmax(1em, 1fr);
  width: auto;
  height: auto;
}

header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  background-color: #AF86C5;
}

header img.logo{
  height: 5em;
  margin: .5em;
}

a {
  width: fit-content;
  height: 4em;
  padding: .5em;
  border-radius: .5em;
  margin: .5em;
  background-color: #F3F6DE;
}
a > img {
  width: 2em;
  height: 2em;
}

button > img {
  width: 1em;
  height: 1em;
}
