.accordion {
  width: 85%;
  margin: auto;
  border: solid black 0.05rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2.3em auto;
  gap: unset;
}

.accordion > button {
  grid-row: 1 / 2;
  grid-column: span 2;
  border: 0;
  border-bottom: solid black 0.05rem;
  padding: .5rem;
  background-color: var(--back-ground_purpule-ligth);
  cursor: pointer;
}

.accordion > button:hover {
  background-color: var(--back-ground_purpule-medium);
}

.accordion > button:not(:last-of-type) {
  border-right: solid black 0.05rem;
}

.accordion > button.active {
  background-color: var(--back-ground_purpule-mid-high);
}

.accordion > button.active:hover {
  background-color: var(--back-ground_purpule);
}

.accordion > div {
  width: 100%;
  display: flex;
  grid-column: span 6;
  justify-content: center;
}

@media only screen and (max-width: 515px) {
  main {
    padding-inline: unset;
  }

  .accordion {
    width: 100vw;
  }
  
  .accordion > button {
    grid-row: span 1;
    grid-column: span 6;
    background-image: url(../images/icons/pointer.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 1.5rem;
    text-align: left;
  }

  .accordion > button.active {
    background-image: url(../images/icons/pointer-flipped.svg);
  }

  .accordion > div {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    grid-column: span 6;
  }
}

div[hidden] {
  display: none;
}