.payment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.payment > button {
  background-color: var(--back-ground_purpule-ligth);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  justify-self: center;
}

.payment > button > img {
  height: 3rem;
}

.payment > form {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}

.payment > form > input,
.payment > form > label,
form > span.message {
  grid-column: 2 / span 2;
  margin-block: 0.25rem;
  max-width: 100%;
  border-radius: 0.25rem;
}

.payment > form > fieldset {
  grid-column: 2 / span 2;
  display: flex;
  justify-content: space-evenly;
  border: unset;
  background-color: unset;
  margin-block: 0.25rem;
}

.payment > form > fieldset > input {
  width: 31%;
  border-radius: 0.25rem;
}

.payment > form > label {
  text-align: center;
}

.payment > form >> input {
  border: solid black 0.05rem;
  /* background-color: var(--back-ground_yellow); */
}

.payment > form >> input:hover,
.payment > form >> input:focus {
  outline: none;
  /* background-color: var(--back-ground_yellow_on-hower); */
}

.payment > form > div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  grid-row: 9 / 10;
  grid-column: span 4;
  gap: 0.5rem;
}

.payment > form > div > button {
  background-color: var(--back-ground_purpule-mid-high);
  border: none;
  padding: 0.25rem;
  cursor: pointer;
  width: 50%;
}

.payment > form > div > button:hover {
  background-color: var(--back-ground_purpule);
}

.payment > form > div > button:not(:first-child) {
  background-color: var(--back-ground_purpule-ligth);
}

.payment > button:hover,
.payment > form > div > button:not(:first-child):hover {
  background-color: var(--back-ground_purpule-medium);
}

#debit-error {
  grid-column: 2 / span 2;
}

@media only screen and (max-width: 850px) {
  .payment > button{
    grid-column: span 2;
  }
}

@media only screen and (max-width: 600px) {
  .payment > form > div {
    flex-direction: column;
    align-items: center;
  };

  .payment > form > label,
  .payment > form > input,
  .payment > form > div > button {
    width: auto;
  }
}